.header {
  background-color: gold;
  height: 100px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.logo {
  font-size: 2rem;
}
